.App {
  text-align: center;
  width: auto;
  font-family: 'Raleway', sans-serif, Helvetica;
  background-color: #f8f9fa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.wrapper {
  width: 100%;
  position: relative;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
